.mainContainer {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filters {
    width: 17%;
    margin-left: 26px;
    background-color: white;
    height: 31em;
    margin-top: 48px;
    border: 0.5px solid white;
    border-radius: 3px;
}

.dataafterfilters {
    width: 80%;
    background-color: #eaeaea;
    overflow: hidden;
}

.yeartags {
    display: flex;
}

.year1 {
    margin-right: 19px;
}

#popup-capabilityinfo {
    width: 14em;
    background-color: white;
    height: 20em;
    border: 0.5px solid white;
    border-radius: 5px;
    display: inline-block;
    margin-left: 17px;
    padding-bottom: 12px;
    position: relative;
    top: 3em;
    margin-bottom: 17px;
}
.missionImg {
    width: 74%;
    margin-left: 26px;
    background-color: #eaeaea;
    margin-top: 21px;
}
#popup-nameforspace {
    font-size: 12px;
    font-weight: 600;
    font-family: Graphik;
    color: #3398df;
    padding-left: 24px;
    margin-top: 3px;
    padding-bottom: 12px;
}
#popup-missionidforspace {
    font-size: 12px;
    font-weight: 600;
    font-family: Graphik;
    color: black;
    padding-left: 24px;
    margin-top: 3px;
    padding-bottom: 5px;
}
#popup-launchyearforspace {
    font-size: 12px;
    font-weight: 600;
    font-family: Graphik;
    color: black;
    padding-left: 24px;
    margin-top: 3px;
    padding-bottom: 5px;
}
.launchYear {
    font-size: 12px;
    font-family: Graphik;
    color: #3398df;
    margin-top: 3px;
}
#popup-successfullaunchofspace {
    font-size: 12px;
    font-weight: 600;
    font-family: Graphik;
    color: black;
    padding-left: 24px;
    margin-top: 3px;
    padding-bottom: 5px;
}
#popup-successfullandofspace {
    font-size: 12px;
    font-weight: 600;
    font-family: Graphik;
    color: black;
    padding-left: 24px;
    margin-top: 3px;
    padding-bottom: 5px;
}
.footerMission {
    font-size: 14px;
    font-weight: 600;
    font-family: Graphik;
    color: black;
    text-align:center;
}
.footerMissionName {
    font-size: 12px;
    font-family: Graphik;
    color: black;
}
.headerMission {
    background-color: #eaeaea;
    font-size: 21px;
    font-weight: 700;
    font-family: Graphik;
    color: black;
}
.headerName {
    position: relative;
    top: 27px;
    left: 26px;
}
.filtersheader {
    font-size: 15px;
    font-weight: 600;
    font-family: Graphik;
    color: black;
    padding-left: 6px;
    padding-top: 6px;
}
.filterslaunchyear {
    font-size: 15px;
    font-family: system-ui;
    padding-left: 59px;
    padding-top: 7px;
}
.launcyearStroke {
    border-bottom: 1px solid lightgray;
    width: 131px;
    margin-left: 31px;
    height: 3px;
}
.parentcontainerforyears {
    padding-top: 22px;
    padding-left: 14px;
}
.button {
    border: none;
    border-radius: 10px;
    color: black;
    /* padding: 7px 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 42%;
    height: 30px;
    cursor: pointer;
    background-color: #b8dc70;
    margin-bottom: 4px;
}
.button1 {
    border: none;
    border-radius: 10px;
    color: black;
    /* padding: 7px 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 42%;
    height: 30px;
    cursor: pointer;
    background-color: #b8dc70;
    margin-bottom: 4px;
}
.filterslaunchsucess {
    font-size: 15px;
    font-family: system-ui;
    padding-left: 22%;
    padding-top: 7px;
}
.filterslaunchStroke {
    border-bottom: 1px solid lightgray;
    width: 60%;
    margin-left: 18%;
    height: 3px;
}
.filterslandStroke {
    border-bottom: 1px solid lightgray;
    width: 61%;
    margin-left: 19%;
    height: 3px;
}
.filterslandsucess {
    font-size: 15px;
    font-family: system-ui;
    padding-left: 22%;
    padding-top: 7px;
}
.year1launch {
    margin-right: 13px;
}
.year1land {
    margin-right: 13px;
}
.launchLand {
    margin-left: 16px;
    margin-top: 6px;
}

@media only screen and (max-width: 400px) {
    .mainContainer {
        display: block;
    }
 
    .footerforapp {
        margin-left: 29% !important;
    }
}


@media only screen and (min-width: 1024px){

    /* CSS */
    .filters {
        width: 18%;
        height: 2%;
    }
    #popup-capabilityinfo{
        width:22%;

    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 700px) and (max-width: 1024px) {

    /* CSS */
    .filters {
        width: 25%;
        height: 2%;
        margin-left: 2%;
    }

    .filterslaunchsucess {
        padding-left: 18%;
    }

    .filterslaunchStroke {
        width: 72%;
        margin-left: 17%;
    }

    .filterslandsucess {
        padding-left: 19%;
    }

    .filterslandStroke {
        width: 72%;
        margin-left: 17%;
    }

    #popup-capabilityinfo {
        width: 40%;
        /*height: 2%;*/
        height: 45%;
    }

    .missionImg {
        margin-left: 12%;
    }
}

@media (min-width: 700px) and (max-height: 1024px) {
    #popup-capabilityinfo {
        height: auto;
    }
}
    /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

    @media (min-width: 320px) and (max-width: 699px) {

        /* CSS */
        .dataafterfilters {
            width: 100%;
        }

        .mainContainer {
            display: block;
        }

        .filters {
            width: 69%;
            margin-left: 62px;
        }

        #popup-capabilityinfo {
            width: 69%;
            margin-left: 62px;
            height: 5%;
        }

        .missionImg {
            margin-left: 12%;
        }

        .footerforapp {
            margin-left: 29%;
        }

        .filterslaunchyear {
            padding-left: 36%;
        }

        .launcyearStroke {
            width: 30%;
            margin-left: 30%;
        }

        .filterslaunchsucess {
            padding-left: 30%;
        }

        .filterslaunchStroke {
            width: 40%;
            margin-left: 24%;
        }

        .filterslandsucess {
            padding-left: 30%;
        }

        .filterslandStroke {
            width: 40%;
            margin-left: 24%;
        }
    }


    .footerforapp {
        display: flex;
        margin-left: 46%;
    }



    .selected {
        background-color: #669900;
    }